In [1]:
import pandas as pd
from sklearn import preprocessing
import plotly 
import plotly.graph_objs as go
import cufflinks as cf
import plotly.tools as tls
import plotly.figure_factory as ff

plotly.offline.init_notebook_mode(connected=True)

In [2]:
!head -n 5 "data/Carseats_org.csv"

"","Sales","CompPrice","Income","Advertising","Population","Price","ShelveLoc","Age","Education","Urban","US"
"1",9.5,138,73,11,276,120,"Bad",42,17,"Yes","Yes"
"2",11.22,111,48,16,260,83,"Good",65,10,"Yes","Yes"
"3",10.06,113,35,10,269,80,"Medium",59,12,"Yes","Yes"
"4",7.4,117,100,4,466,97,"Medium",55,14,"Yes","Yes"

In [3]:
df = pd.read_csv('data/Carseats_org.csv')
df = df.drop(['Unnamed: 0'], axis=1)

In [4]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [5]:
print('Total dimensions: ', len(df.columns), '\n')

print(df.dtypes)

Total dimensions:  11

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [6]:
def scaleNumeric(df, inplace=True):
    scaler = preprocessing.StandardScaler()
    num_cols = df.select_dtypes(exclude=['object'])
    
    if inplace:
        for col in num_cols:
            df[[col]] = scaler.fit_transform(df[[col]])
        return df
    else:
        for col in num_cols:
            new_name = str(col) + '_scaled'
            df[new_name] = scaler.fit_transform(df[[col]])
        return df 

df = scaleNumeric(df, True)
df.head()

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning:

Data with input dtype int64 were all converted to float64 by StandardScaler.

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0.710376,0.850455,0.155361,0.657177,0.075819,0.177823,Bad,-0.699782,1.184449,Yes,Yes
1,1.320179,-0.912484,-0.739060,1.409957,-0.032882,-1.386854,Good,0.721723,-1.490113,Yes,Yes
2,0.908917,-0.781896,-1.204159,0.506621,0.028262,-1.513719,Medium,0.350895,-0.725953,Yes,Yes
3,-0.034151,-0.520720,1.121336,-0.396715,1.366649,-0.794814,Medium,0.103677,0.038208,Yes,Yes
4,-1.186395,1.046337,-0.166631,-0.547271,0.510625,0.516132,Bad,-0.947000,-0.343872,Yes,No

In [7]:
def encodeCategorical(df):
    le = preprocessing.LabelEncoder()
    cat_cols = df.select_dtypes(include=['object'])
    
    for col in cat_cols:
        new_name = str(col) + '_encoded'
        df[new_name] = le.fit_transform(cat_cols[col])
        
    return df

df = encodeCategorical(df)
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,ShelveLoc_encoded,Urban_encoded,US_encoded
0,0.710376,0.850455,0.155361,0.657177,0.075819,0.177823,Bad,-0.699782,1.184449,Yes,Yes,0,1,1
1,1.320179,-0.912484,-0.739060,1.409957,-0.032882,-1.386854,Good,0.721723,-1.490113,Yes,Yes,1,1,1
2,0.908917,-0.781896,-1.204159,0.506621,0.028262,-1.513719,Medium,0.350895,-0.725953,Yes,Yes,2,1,1
3,-0.034151,-0.520720,1.121336,-0.396715,1.366649,-0.794814,Medium,0.103677,0.038208,Yes,Yes,2,1,1
4,-1.186395,1.046337,-0.166631,-0.547271,0.510625,0.516132,Bad,-0.947000,-0.343872,Yes,No,0,1,0

In [8]:
df.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_encoded,Urban_encoded,US_encoded
count,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,400.000000,400.000000,400.000000
mean,-1.953993e-16,3.819167e-16,3.552714e-17,2.664535e-17,1.598721e-16,-6.217249e-17,1.287859e-16,-1.332268e-16,1.307500,0.705000,0.645000
std,1.001252e+00,1.001252e+00,1.001252e+00,1.001252e+00,1.001252e+00,1.001252e+00,1.001252e+00,1.001252e+00,0.833475,0.456614,0.479113
min,-2.657722e+00,-3.132482e+00,-1.705035e+00,-9.989392e-01,-1.731343e+00,-3.881880e+00,-1.750460e+00,-1.490113e+00,0.000000,0.000000,0.000000
25%,-7.467695e-01,-6.513081e-01,-9.268889e-01,-9.989392e-01,-8.549372e-01,-6.679480e-01,-8.388425e-01,-7.259527e-01,1.000000,0.000000,0.000000
50%,-2.242444e-03,1.632351e-03,1.225357e-02,-2.461591e-01,4.864391e-02,5.095773e-02,7.277488e-02,3.820804e-02,2.000000,1.000000,1.000000
75%,6.465597e-01,6.545728e-01,7.993444e-01,8.077330e-01,9.080650e-01,6.429978e-01,7.835274e-01,8.023688e-01,2.000000,1.000000,1.000000
max,3.110590e+00,3.266335e+00,1.836873e+00,3.367185e+00,1.658785e+00,3.180312e+00,1.648791e+00,1.566529e+00,2.000000,1.000000,1.000000

In [11]:
for col in df.columns:
    if col != 'Sales' and not str(col).__contains__('encoded'):

        data = [
            go.Histogram2dContour(
                x=df['Sales'],
                y=df[col]
            )
        ]

        layout = go.Layout(title="Average Earnings for Graduates",
                xaxis=dict(title='School'),
                yaxis=dict(title='Salary (in thousands)'))

        fig = go.Figure(data=data, layout=layout)

        plotly.plotly.iplot(fig, filename='jupyter-styled_bar')

/usr/local/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead